* {
	border:5px solid green;
	width: 2000px;
}
h1 {
	margin-left: 400px;
	border: 20px dotted black;
	width: 200px;
	padding-left: 40px;
}
.stanza1 {
	margin-left: 100px;
	
}

.stanza2 {
margin-left: 200px
	
}

.stanza3 {

margin-left: 300px
}

.stanza4 {
margin-left: 400px


}

.stanza5 {

margin-left: 500px
}
.stanza6 {

margin-left: 600px
}
.stanza7 {

margin-left: 700px
}