.containerabout {font-family: 'futura', sans-serif;
font-size: 1.25em;
margin-left: 350px;
margin-top: 120px;
margin-right:350px;

}
.containerabout h1 {font-family: 'futura', sans-serif;
font-size: 30px;
font-weight: bold;
}

/* Misc Default Styling */
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}

/*///////////////////////
// Header - Navigation //
///////////////////////*/

.main-nav {
  font-family: 'futura', sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: .5rem 1rem;
  line-height: 2rem;

  background-color: #4ECECE;
}

/* Clearfix */
.main-nav:before,
.main-nav:after {
  content: "";
  display: table;
}

.main-nav:after {
  clear: both;
}

.nav-lg {
  width: 80vw;
}

/* Mobile Navigation menu styling */

.header-title {
  font-weight: 100;
  float: left;
  margin: 0 auto;
  color: black;
}

#main-menu {
  background-color: #4ECECE;

  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-left: 0;

  z-index: 200;

  transition: transform 0.3s;
  /* Set height to 100% of available space */
  height: 100%;
  width: 80vw;
  overflow-y: scroll;
  transform: translateX(-100%);

  list-style: none;
}

/* Link list styling */
#main-menu li a:visited,
#main-menu li a:link {
  color: white;
  text-decoration: none;
}


#main-menu li a:hover,
#main-menu li a:active {
  color: #4ECECE;
}



/* Animation added when JS script adds class to the menu via btn click */
#main-menu.is-active {
  transform: translateX(0);
}

/* Exit button */
#slide-menu-close-btn {
 border: none;
 background-color: #1E5E5E;
 color: white;
}


/* Hamburger button */
#hamburger-button {
  display: block;
  margin-top: .35rem;
  cursor:pointer;

  /* Float right side of screen */
  float: right;
  vertical-align: middle;
  
  background-color: #4ECECE;
  border: none;
}

#hamburger-button .icon-bar {
  margin: 0 auto 3px;
  background-color: black;
  display: block;
  width: 22px;
  height: 5px;
  border-radius: 1px;
}

/* Hamburger styling links */
/* Eliminate button styling on click */
#hamburger-button:focus {
  outline: none;
  background-color: med-color('background');
}
#hamburger-button:hover {   
  cursor:pointer;
  outline: none;
  border:none;
}

#hamburger-button:active {   
  cursor:pointer;
  outline: none;
  border:none;
  appearance: button;
}

/* Flexible Slide-to-top Accordion Style*/
.wrapper{
  /*width:100%;*/
  max-width:1200px;   
  margin-top: 50px;
  padding-top: 20px;
}

.st-accordion{
  width:90%;
  min-width:270px;
  margin: 0 auto;
}

.st-accordian-main-list {
  padding-left: 0;
  display: block;
  margin: 0 auto;
}

.st-accordion ul li{
  height: 100px;
  border-bottom: 1px solid #c7deef;
  border-top:1px solid #fff;
  overflow: hidden;
}
.st-accordion ul li:first-child{
  border-top:none;
}
.st-accordion ul li > a{
  font-family: 'futura', sans-serif;
  color: black;
  font-size: 36px;
  display: block;
  position: relative;
  line-height: 100px;
  outline:none;
  -webkit-transition:  color 0.2s ease-in-out;
  -moz-transition:  color 0.2s ease-in-out;
  -o-transition:  color 0.2s ease-in-out;
  -ms-transition:  color 0.2s ease-in-out;
  transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
  background: transparent url(../images/down.png) no-repeat center center;
  text-indent:-9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity:0;
  -webkit-transition:  all 0.2s ease-in-out;
  -moz-transition:  all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;
  -ms-transition:  all 0.2s ease-in-out;
  transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
  color: yellow;
}
.st-accordion ul li > a:hover span{
  opacity:1;
  right: 10px;
}
.st-accordion ul li.st-open > a{
  color: yellow;
}
.st-accordion ul li.st-open > a span{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform:rotate(180deg);
  right:10px;
  opacity:1;
  height: 1800px;
}
.st-content{
  margin-bottom: 60px;
  font-size:  24px;
  font-family: 'futura', sans-serif;

}
.st-content p{
  font-size: 24px;
  border-right: 320px solid white;
  border-left: 50px solid white;
  padding:0px 200px 20px 0px; 
}

.st-content h2 {
  font-size: 32px;
}
.st-content img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 50%;


}
.st-content2 img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;


}


/* Invision embed */
.invision-embed {
  transform: scale(0.5);
  margin-left: -10%;
}

/* responsive youtube embed */
.embed-container { 
  position: relative; 
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

@media screen and (max-device-width: 375px){
  .st-accordion ul li > a{
    font-size:26px;
    font-weight: bold;
  }
}

.st-content ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  padding-left: 0;
}
.st-content ul li{

  width: 38%;
  height:38%;
  margin: 1%;
  font-size: 0;
  border: none;
  font-size: 12px;


}
.st-content iframe { 


}
.st-content p {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 14px;
}
.st-content h2 {
  font-size: 20px;
}


/* Media Queries */

/* Medium/Tablet Size*/
@media only screen and (min-width : 768px) {

  /* Styles */

  .wrapper {
    margin-left: 300px;
  }

  .mobile-header {
    display: none;

  }

  .invision-embed {
    transform: scale(1.0);
  }

  /* ST accordian styling */
  .st-accordian {
    width: 100%;
  }


  /* Hide hamburger button */
  #slide-menu-close-btn {
    display: none;
  }

  #hamburger-button {
    display: none;
  }

  /* Reset Header Style */
  .main-nav { 
    visibility: visible;
    position: fixed;
    font-family: 'futura', sans-serif;
    top: 0;
    width: 270px;
    height: 100%;
    margin:20px;
    padding:20px;
    background-color: #4ECECE;
    z-index: 9999;
  }
  /* Header Styling */
  #main-menu {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    overflow-y: visible;
    transform: none;
    transition: none;
    background-color: inherit;
  }


  .header-title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 55px;
    color: black;
  }

  .nav-lg {
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    width: 220px
  }

  .main-nav ul li a{
    display: block;
    font-size: 1.5em;
    color: #000;

    text-decoration: none;
  }

  .main-nav ul li a:hover{
    background-color:#1F4250;
    color: white;
  }
}