* {
	text-align: center;
}
.stanza1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

.stanza2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
	
	

.stanza3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
	

}

.stanza4 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

}

.stanza5 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.stanza6 {

font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.stanza7 {

font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}